/* Webfont: FUNGIS-Regular */

@font-face {
    font-family: 'FUNGISRegular';
    src: url('https://githubraw.com/keesyb195/fungis-font/main/FUNGIS%20Regular.woff2') format('woff2'), /* Modern Browsers */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

